* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.background {
  height: 100vh;
  width: 100vw;
  position: absolute;
  overflow: hidden;
  z-index: -1;
}
.background > img {
  width: 100%;
  height: 100%
}
